

&pinctrl {
    /delete-node/ spi0_default;
    /delete-node/ spi0_sleep;

    spi0_default: spi0_default {
        group1 {
            psels =
                <NRF_PSEL(SPIM_SCK,  20, <SCK_GPIO>)>, /* D3 = P0.20 - physically connected to a yellow wire */
                <NRF_PSEL(SPIM_MOSI, 17, <MOSI_GPIO>)>, /* D2 = P0.17 - physically connected to a green wire */
                <NRF_PSEL(SPIM_MISO, 25, <MISO_GPIO>)>;
        };
    };

    spi0_sleep: spi0_sleep {
        group1 {
            psels =
                <NRF_PSEL(SPIM_SCK,  20, <SCK_GPIO>)>,
                <NRF_PSEL(SPIM_MOSI, 17, <MOSI_GPIO>)>,
                <NRF_PSEL(SPIM_MISO, 25, <MISO_GPIO>)>;
            low-power-enable;
        };
    };
};

&nice_view_spi {
    cs-gpios = <&pro_micro 1 GPIO_ACTIVE_HIGH>; /* D1 = P0.06 - physically connected to a yellow wire */
};